@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-text-main: 242 241 236;
  --color-bg-main: 242 241 236;
  --color-bg-compare: 36 36 36;
  --color-border-main: 242 241 236;
}
::selection {
  background-color: #ffff42;
  color: #000;
}

html.dark {
  --color-text-main: 15, 18, 25;
  --color-bg-main: 0 0 0;
  --color-bg-compare: 234 236 231;
  --color-border-main: 0 0 0;
}

.astro-code {
  @apply -mx-4 text-wrap;
}

.aplayer {
	margin: 0;
}